<?xml version='1.0' encoding='UTF-8'?>
<agent-input>
  <variables>
    <variable name='sharedLocation' value='/opt/IBM/IMShared'/>
  </variables>
  <server>
    <repository location='{{ __ihs_tmp_dir }}'/>
    <repository location='{{ __wct_tmp_dir }}'/>
  </server>
  <profile id='IBM HTTP Server V9.0' installLocation='/opt/IBM/HTTPServer'>
    <data key='cic.selector.arch' value='x86_64'/>
    <data key='user.ihs.allowNonRootSilentInstall' value='true'/>
    <data key='user.ihs.httpPort' value='80'/>
  </profile>
  <install>
    <!-- IBM HTTP Server for WebSphere Application Server 9.0.5.10 -->
    <offering profile='IBM HTTP Server V9.0' id='com.ibm.websphere.IHS.v90' version='{{ __this_version }}' features='core.feature'/>
  </install>
  <profile id='Web Server Plug-ins for IBM WebSphere Application Server V9.0' installLocation='/opt/IBM/WebSphere/Plugins'>
    <data key='cic.selector.arch' value='x86_64'/>
  </profile>
  <install>
    <!-- Web Server Plug-ins for IBM WebSphere Application Server 9.0.5.10 -->
    <offering profile='Web Server Plug-ins for IBM WebSphere Application Server V9.0' id='com.ibm.websphere.PLG.v90' version='{{ __this_version }}' features='core.feature'/>
  </install>
  <profile id='WebSphere Customization Toolbox V9.0' installLocation='/opt/IBM/WebSphere/Toolbox'>
    <data key='cic.selector.arch' value='x86_64'/>
  </profile>
  <install>
    <!-- WebSphere Customization Toolbox 9.0.5.10 -->
    <offering profile='WebSphere Customization Toolbox V9.0' id='com.ibm.websphere.WCT.v90' version='{{ __this_version }}' features='core.feature,pct'/>
  </install>
  <preference name='com.ibm.cic.common.core.preferences.eclipseCache' value='${sharedLocation}'/>
</agent-input>
