#Configure Applicaton Security
AdminTask.setJVMProperties('[-nodeName {{ __was_nodename }} -serverName dmgr -verboseModeGarbageCollection true -initialHeapSize 128 -maximumHeapSize 512]')
#Save and Synchronise
AdminConfig.create('Property', '(cells/{{ __was_cellname }}/nodes/{{ __was_nodename }}/servers/dmgr|server.xml#JavaVirtualMachine_1)', '[[validationExpression ""] [name "java.net.preferIPv4Stack"] [description ""] [value "true"] [required "false"]]') 
AdminConfig.save()
# End of File
