<?xml version='1.0' encoding='UTF-8'?>
<agent-input>
  <variables>
    <variable name='sharedLocation' value='{{ __imshared_location }}'/>
  </variables>
  <server>
    <repository location='{{ __was_tmp_dir }}'/>
    <repository location='{{ __sdk_tmp_dir }}'/>
  </server>
  <profile id='IBM WebSphere Application Server V9.0' installLocation='{{ __was_install_location }}'>
    <data key='cic.selector.arch' value='x86_64'/>
  </profile>
  <install>
    <!-- IBM WebSphere Application Server Network Deployment  9.0.0.0 -->
    <offering profile='IBM WebSphere Application Server V9.0' id='com.ibm.websphere.ND.v90' version='{{ __was_version }}' features='core.feature,ejbdeploy,thinclient,embeddablecontainer,samples'/>
    <!-- IBM SDK, Java Technology Edition, Version 8 8.0.7.5 -->
    <offering profile='IBM WebSphere Application Server V9.0' id='com.ibm.java.jdk.v8' version='{{ __sdk_version }}' features='com.ibm.sdk.8'/>
  </install>
  <preference name='com.ibm.cic.common.core.preferences.eclipseCache' value='${sharedLocation}'/>
</agent-input>
